<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/chat.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
</head>
<script th:inline="javascript">
    /*<![CDATA[*/
    const chatCoursesIds = /*[[${chatCourses.![id.toString()]}]]*/ [];
    /*]]>*/

</script>

<body>
<div th:replace="~{header.html}"></div>

<div class="container d-flex flex-row mt-4">

    <div>
        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item" th:each="chat : ${chatCourses}">
                <a th:href="@{/chat/{room}(room=${chat.getId()})}" class="text-decoration-none text-dark">
                    <div class="chat-item mt-2">
                        <span th:text="${chat.getCourseName() + ' - ' + chat.getTrainer()}"></span>
                    </div>
                </a>
            </li>
        </ul>
    </div>

    <div id="chat-container">
        <h3 th:text="${course.getCourseName() + ' - ' + course.getTrainer()}" class="text-center"></h3>
        <div>
            <div class="d-flex justify-content-center">
            <button id="load-more" class="border-black border-1 ms-4" style="width: fit-content;">Show more</button>
        </div>
            <div id="messages-container" class="messages-container" th:attr="data-room=${room}">
<!--                <div class="d-flex justify-content-center">-->
<!--                    <a th:href="@{/chat/{room}(room=${room}, pageNumber=${pageNumber + 1})}">-->
<!--                    <div class="border-black border-1 ms-4" style="width: fit-content;">Show more</div>-->
<!--                    </a>-->
<!--                </div>-->
                <!-- Pulsante per caricare più messaggi -->

<!--                <th:block th:each="msg : ${chatMessages}">-->
<!--                    <div th:if="${msg.getSender() == session.username}" class="new-message right">-->
<!--                        <div class="new-message-box">-->
<!--                            <div class="text" th:text="${msg.getText()}"></div>-->
<!--                            <div class="details-container" th:text="${msg.getSender() + ' - ' + msg.getSendTime()}"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div th:unless="${msg.getSender() == session.username}" class="new-message left">-->
<!--                        <div class="new-message-box">-->
<!--                            <div class="text" th:text="${msg.getText()}"></div>-->
<!--                            <div class="details-container" th:text="${msg.getSender() + ' - ' + msg.getSendTime()}"></div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </th:block>-->
            </div>
        </div>

        <div class="send-message-container">
            <div class="input-container">
                <input type="text" id="text" placeholder="Write a message"/>
                <input type="text" id="sender" th:value="${session.username}" hidden="hidden"/>
                <input type="text" id="room" th:value="${room}" hidden="hidden"/>
            </div>
            <div>
                <button id="button-sendmessage" onclick="sendMessage()">SEND</button>
            </div>
        </div>
    </div>
</div>

</body>




</html>