<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <style>
        .table {
            border-collapse: collapse;
            width: fit-content;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
            height: 2rem;
        }

        ul {
            list-style-type: none;
        }
    </style>
</head>

<body>
<div th:replace="~{header.html}"></div>
<h1 class="text-center" th:text="${courseName}">Course</h1>
<div class="d-flex flex-row justify-content-center align-items-lg-center m-auto">

    <div class="container m-auto">
        <ul th:each="course : ${courseList}">
            <li>
                <a th:href="@{'/courses/' + ${course.getCourseName()} + '/' + ${course.getTrainerUsername()}}">
                    <span th:text="${course.getTrainer()}"></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="container w-50" th:if="${!session.isEmpty() and session.role.toString().equals('client')}">

        <div class="container" th:if="${isJoined == false}">
            <p>You are not subscribed to this course</p>
            <form th:action="@{'/courses/' + ${trainerCourse.getCourseName()}+'/'+${trainerCourse.getTrainerUsername()} +'/' + ${trainerCourse.getId()} + '/joinCourse'}"
                  method="post">
                <button type="submit" class="btn btn-primary">Subscribe</button>
            </form>
        </div>

        <form th:action="@{'/courses/' + ${trainerCourse.getCourseName()}+'/'+${trainerCourse.getTrainerUsername()} +'/' + ${trainerCourse.getId()} + '/bookClass'}"
              th:if="${isJoined == true}" method="post">
            <div class="form-group mb-4">
                <label for="trainer">Trainer:</label>
                <input type="text" class="form-control" id="trainer" placeholder="Enter trainer's name"
                       th:value="${trainer}" readonly>
            </div>
            <div class="form-group mb-4">
                <label for="day">Day:</label>
                <select class="form-control" id="day" name="day">
                    <option th:each="day : ${bookDay}" th:text="${day}" th:value="${day}"></option>
                </select>
            </div>
            <div class="form-group mb-4">
                <label for="startTime">Time:</label>
                <select class="form-control" id="startTime" name="startTime">
                    <option th:each="classtime : ${bookTime}" th:text="${classtime}"></option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Book Class</button>
        </form>

    </div>

    <div class="container w-50"
         th:if="${!session.isEmpty() and session.role.toString().equals('trainer') and session.username.equals(trainerCourse.getTrainerUsername())}">

        <form th:action="@{'/addClass/' + ${trainerCourse.getId()}}"
              method="post">
            <div class="form-group mb-4">
                <label for="trainer2">Trainer:</label>
                <input type="text" class="form-control" id="trainer2" placeholder="Enter trainer's name"
                       th:value="${trainer}" readonly>
            </div>
            <div class="form-group mb-4">
                <label for="day2">Day of Week:</label>
                <select class="form-control" name="day" id="day2">
                    <option th:each="day : ${daysOfWeek}" th:text="${day}"></option>
                </select>
            </div>

            <div class="form-group mb-4">
                <label for="startTime2">Start Time:</label>
                <input type="time" class="form-control" name="startTime" id="startTime2"/>
            </div>
            <button type="submit" class="btn btn-primary">Add Class</button>
        </form>

    </div>


    <div class="container m-auto">
        <table id="classSchedule3" class="table align-content-center mb-lg-5"
               th:attr="data-weekSchedule=${weekSchedule}">
            <tr class="table-header">
                <!-- Intestazione della tabella con i giorni della settimana -->
                <th>MONDAY</th>
                <th>TUESDAY</th>
                <th>WEDNESDAY</th>
                <th>THURSDAY</th>
                <th>FRIDAY</th>
                <th>SATURDAY</th>
            </tr>
            <tbody>

            </tbody>
        </table>
    </div>


</div>

<script src="/scripts/tables.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const weekSchedule = /*[[${weekSchedule}]]*/ [];
    /*]]>*/

    window.onload = function () {
        loadTable(weekSchedule);
    };
</script>

</body>
</html>