<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 ">
    <div class="container">
        <a class="navbar-brand mr-auto" th:href="@{/}">
            <img src="/images/fitconnect-logo.jpg" alt="logo" class="img-fluid" style="width: 200px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown d-flex flex-row">
                    <span class="badge badge-danger m-auto text-center" id="notifications"></span>
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-bell"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="messages_notify"  style="max-height: 200px; overflow-y: auto;">
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}" th:if="${!session.isEmpty()}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chat}" th:if="${!session.isEmpty()}">Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addCourse}"
                       th:if="${!session.isEmpty() and session.role.toString().equals('trainer') == true}"
                    >Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if="${session.isEmpty()}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:if="${!session.isEmpty()}">Logout</a>
                </li>


            </ul>
        </div>
    </div>
</nav>

<!-- Bootstrap CSS -->
<!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script src="/scripts/scripts.js"></script>
