<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 ">
    <div class="container">
        <a class="navbar-brand mr-auto" th:href="@{/}">
            <img src="/images/fitconnect-logo.jpg" alt="logo" class="img-fluid" style="width: 200px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/profile}" th:if="${!session.isEmpty()}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/courses}">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/addCourse}" th:if="${!session.isEmpty() and session.role.toString().equals('trainer') == true}"
                    >Add Course</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" th:if="${session.isEmpty()}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" th:if="${!session.isEmpty()}">Logout</a>
                </li>
                <li class="nav-item dropdown" th:if="${!session.isEmpty()}">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Notifications
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Esempio di notifiche -->
                        <a class="dropdown-item" href="#">New message from John</a>
                        <a class="dropdown-item" href="#">You have 3 new friend requests</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">View all notifications</a>
                    </div>
                </li>


            </ul>


        </div>
    </div>
</nav>

<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
