<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
</head>
<body>
<div th:replace="header.html" class="mb-lg-5"></div>

<div class="container d-flex mt-lg-5">

    <aside class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 20rem;">
        <hr>
        <a th:href="@{/courses}">
            <button class="btn btn-primary mb-4">Courses</button>
        </a>
        <a th:href="@{/courses}">
            <button class="btn btn-primary mb-4">My Lessons</button>
        </a>
        <a th:href="@{/courses}">
            <button class="btn btn-primary mb-4">Book a lesson</button>
        </a>
    </aside>

    <main class="container" th:if="${!session.isEmpty()}">
        <h4 th:text="'Ciao ' + ${username}"></h4>
    </main>

    <div th:if="${session.isEmpty()}">
        <p>ziopera</p>
    </div>





</div>
</body>
</html>
